.header {
  position: fixed;
  z-index: 100;
  left: 0;
  top: 0;
  width: 100%;
  height: 76px;
  display: flex;
  justify-content: center;
  background-color: rgba(251, 251, 251, 1);
  border-bottom: 1px solid rgba(0, 0, 0, 0.22);
}

.header-container {
  display: flex;
  flex-direction: row;
}

.logo-img {
  width: 234px;
  height: 62px;
  margin-top: 17px;
  /* margin-left: 92px; */
}

.header-search {
  display: flex;
  flex-direction: row;
  margin-top: 16px;
  margin-left: 85px;
  width: 511px;
  height: 49px;
  border: 0px;
  border-radius: 30px;
  background-color: rgba(243, 243, 243, 1);
  padding-left: 19px;
}

.search-input {
  width: 458px;
  height: 34px;
  border-bottom: 0px;
  border-top: 0px;
  border-left: 0px;
  border-right: 1px solid rgba(175, 175, 175, 1);
  margin-top: 7px;
  padding: 0px;
  background-color: rgba(243, 243, 243, 1);
  outline: none;
}

.search-icon {
  margin-left: 12px;
  margin-top: 15px;
  width: 17.49px;
  height: 17.49px;
}

.login-btn {
  width: 111px;
  height: 45px;
  margin-top: 18px;
  margin-left: 157px;
  padding: 0px;
  border: 0px;
  border-radius: 10px;
  font-size: 18px;
  color: white;
  background-color: rgba(42, 32, 150, 1);
}
