.station-item {
  width: 197px;
  height: 331px;
  z-index: 0;
  /* border-radius: 10px; */
  /* border: 1px solid black; */
  margin-bottom: 44px;
  float: left;
  margin-left: 9px;
}

.station-description {
  margin: 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 18px;
}

.station-tag {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: rgba(42, 32, 150, 1);
  font-size: 16px;
}
