.loading-conatiner {
  display: flex;
  flex-direction: column;
  margin-top: 300px;
}

.stacking {
  font-size: 35px;
  text-align: center;
}

.stack-box {
  width: 129px;
  height: 19px;
  border-radius: 10px;
  margin: 0 auto 8px auto;
  background: linear-gradient(
    to right,
    rgba(42, 32, 150, 1),
    rgba(91, 32, 150, 1),
    rgba(172, 0, 143, 1),
    rgba(227, 95, 173, 1)
  );
}

.stack-box {
  animation-duration: 2s;
  animation-name: stack;
  animation-iteration-count: infinite;
}

@keyframes stack {
  0% {
    opacity: 0;
    transform: translate3d(0, -150%, 0);
  }
  to {
    opacity: 1;
    transform: translateZ(0);
  }
}

/* #stack-box1 {
  animation-duration: 3s;
  animation-name: stack1;
}

#stack-box2 {
  animation-duration: 2s;
  animation-name: stack2;
}

#stack-box3 {
  animation-duration: 1s;
  animation-name: stack3;
}

@keyframes stack1 {
  0% {
    opacity: 1;
    transform: translate3d(0, -150%, 0);
  }
  to {
    opacity: 1;
    transform: translateZ(0);
  }
}

@keyframes stack2 {
  0% {
    opacity: 1;
    transform: translate3d(0, -150%, 0);
  }
  to {
    opacity: 1;
    transform: translateZ(0);
  }
}

@keyframes stack3 {
  0% {
    opacity: 1;
    transform: translate3d(0, -150%, 0);
  }
  to {
    opacity: 1;
    transform: translateZ(0);
  }
} */
