.stack {
  display: grid;
  grid-template-rows: 8fr 1fr 1fr;
}
.record {
  background-color: aqua;
}
.box {
  display: flex;
  padding: auto;
  margin: auto;
}
div {
  border: 1px solid blue;
  text-align: center;
}
.container {
  display: flex;
}
.left {
  width: 50%;
}
.right {
  width: 50%;
}
.modalHeader {
  display: grid;
  grid-template-columns: 9fr 1fr;
  text-align: center;
}
