.div-profile {
  /* height: 600px; */
  /* border-bottom: 1px solid black; */
  width: 1000px;
  margin: auto;
  padding: 150px 153px 50px 165px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.div-profile-notPicture {
  display: flex;
  float: left;
  width: 1000px;
}

.div-profile-Count {
  display: flex;
  justify-content: space-between;
  width: 300px;
}

.profile-Count-content {
  margin: 0px 5px 0px 0px;
}

.profile-team {
  background-color: rgba(227, 95, 173, 1);
  color: white;
  padding: 5px;
  border-radius: 5px;
}

.profile-instrument {
  background-color: rgba(245, 245, 245, 1);
  color: rgba(80, 80, 80, 1);
  padding: 5px;
  border-radius: 10px;
}

.result {
  width: 1128px;
  margin-top: 0px;
  margin-bottom: 271px;
  margin-left: auto;
  margin-right: auto;
}

.station-tap {
  cursor: default;
  width: 1128px;
  height: 76px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.tapmenu-ul {
  color: rgb(232, 234, 237);
  font-weight: bold;
  display: flex;
  flex-direction: row;
  list-style: none;
}

.mystation {
  display: flex;
  width: 73px;
  padding: 10px 10px 10px 10px;
  font-size: 21px;
  transition: 0.5s;
}

.mystation-tap {
  width: 1128px;
}
