.ProfileEdit {
  width: 560px;
  /* height: 800px; */
  border: solid 1px black;
  border-radius: 20px;
}

.ProfileEdit-head {
  text-align: center;
  /* border-bottom: solid 1px black; */
}

.ProfileEdit-profilePicture {
  height: 180px;
  border-top: 1px solid gray;
  display: flex;
}

.ProfileEdit-Id {
  height: 115px;
  border-top: 1px solid gray;
  display: flex;
}

.ProfileEdit-nickname {
  height: 105px;
  border-top: 1px solid gray;
  display: flex;
}

.ProfileEdit-first {
  width: 160px;
  margin: 15px;
}

.ProfileEdit-content {
  margin: auto 0;
}

.ProfileEdit-content-Bio {
  margin: auto 0;
  width: 50%;
}

.ProfileEdit-Bio {
  height: 150px;
  border-top: 1px solid gray;
  display: flex;
}

.ProfileEdit-Instrument {
  height: 110px;
  border-top: 1px solid gray;
  display: flex;
}
.ProfileEdit-group {
  height: 120px;
  border-top: 1px solid gray;
  display: flex;
}
