.login-background {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 10;
  background: rgba(0, 0, 0, 0.8);
}
.LogIn {
  /* border: 1px solid black; */
  background-color: white;
  width: 490px;
  height: 705px;
  border-radius: 20px;
  z-index: 10;
  position: absolute;
  /* 로그인 모달 위치 */
  top: 360px;
  left: 50%;
  transform: translate(-50%, -50%);
}

.LogIn-logo {
  width: 200px;
  height: 57px;
  margin-left: 145px;
  margin-top: 6px;
}

.LogIn-inputBox {
  width: 390px;
  margin-bottom: 10px;
}

.find-password-div {
  width: 390px;
  margin: 0 auto 30px auto;
  display: flex;
}

.SNS-LogIn-buttons {
  margin-bottom: 42px;
}

.div-LogIn-Naver {
  display: flex;
  width: 100%;
  margin: '0 30% 0 30%';
  justify-content: space-between;
}

.Logo-Naver {
  width: 15px;
  color: white;
}

.div-LogIn-Kakao {
  display: flex;
  width: 100%;
  margin: '0 30% 0 30%';
  justify-content: space-between;
}

.Logo-Kakao {
  width: 20px;
  height: 20px;
  margin: auto 0 auto 0;
}

.div-LogIn-Google {
  display: flex;
  width: 100%;
}

.Logo-Google {
  width: 24px;
  height: 24px;
  margin: auto 0 auto 0;
  color: white;
}

.div-LogIn-footer {
  display: flex;
  margin: auto 0 auto;
  justify-content: center;
}

.move-to-SignUp {
  color: rgba(172, 0, 143, 1);
  text-decoration: none;
}
