.total {
  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: row;

  font-family: Pretendard;
}

.left-style {
  width: 55vw;
  height: 100vh;
  background-image: url('./assets/Rectangle.png');
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  /* align-items: center; */
}

.right-style {
  width: 45vw;
  height: 100%;
}

.content-box {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.station-control-btns {
  height: 630px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  color: white;
}

.station-control-btn {
  padding: 7px;

  color: whitesmoke;
  background: rgba(36, 36, 36, 0.863);
  border: 1px solid rgba(157, 157, 157, 0.57);

  border-radius: 50%;
  -webkit-border-radius: 50%;
  box-shadow: 2px 2px 2px rgba(255, 255, 255, 0.293);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
}

.heart-control-btn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  /* margin-top: 15px; */
}
.prev-next-button {
  width: 60px;
  display: flex;
  flex-direction: column;

  align-items: center;
  justify-content: center;
}

.article-follow-button {
  width: fit-content;
  height: 30px;

  font-family: Pretendard;
  margin-right: 5px;
  padding: 0 10px;

  appearance: button;
  background-color: rgba(42, 32, 150, 0.8);
  border: 1px solid rgba(42, 32, 150, 0);
  border-radius: 4px;
  box-shadow: #fff 3px 3px 0 0, #000 3px 3px 0 1px;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-size: 0.85em;
  overflow: visible;
  text-align: center;
  text-transform: none;
  touch-action: manipulation;
  user-select: none;
  -webkit-user-select: none;
  vertical-align: middle;
  white-space: nowrap;
}

.article-follow-button:focus {
  text-decoration: none;
}

.article-follow-button:hover {
  font-weight: bold;
  text-decoration: none;
}

.article-follow-button:active {
  box-shadow: rgba(0, 0, 0, 0.125) 0 3px 5px inset;
  outline: 0;
}

.article-follow-button:not([disabled]):active {
  box-shadow: #fff 2px 2px 0 0, #000 2px 2px 0 1px;
  transform: translate(2px, 2px);
}

.information {
  height: 40%;
  /* border: 1px black solid; */
}

.comment {
  height: 50%;
  /* border: 1px black solid; */
  background-color: rgba(245, 245, 245, 1);
  overflow: auto;
}

.comment::-webkit-scrollbar {
  display: none;
}

.createComment {
  height: 6%;
  /* border: 1px black solid; */
  display: flex;
  justify-content: space-between;
  padding: 2%;
}

.station-close-btn {
  margin: 20px 0px 0px 20px;
  cursor: pointer;
}

.station-information {
  height: 50%;
  margin: 5%;
}

.station-profile {
  display: flex;
  align-items: center;
  justify-content: center;
}

.station-profile-name_nickname {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin-left: 11px;
}

.station-profile-id {
  margin-bottom: 3px;
  font-size: 1.1em;
  font-weight: bold;
}

.station-profile-nickname {
  font-size: 1em;
}

.station-follow {
  margin: auto 10px auto auto;
  position: relative;
}

.station-usercontent {
  white-space: pre-wrap;
}

.station-participants {
  height: 40%;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;

  margin-right: 30px;
}
.profile-participant {
  width: 43px;
  height: 43px;
  object-fit: cover;
  margin-right: 5px;
  border-radius: 50%;
  border: 0.8px solid rgba(128, 128, 128, 0.392);
  cursor: pointer;
}

.comment-list {
  margin: 10px;
  /* border: 1px black solid; */
}

.station-Participant {
  height: 100%;
  margin: 0 2px 0 2px;
}

.station-writer {
  width: 60px;
  height: 60px;
  margin: auto;
}

.station-user {
  width: 50px;
  height: 50px;
  margin: auto;
  margin-top: 10px;
}

.station-Participant-name {
  margin-top: -5px;
  font-size: 0.9em;
  text-align: center;
}
